<%- include('./layouts/head.ejs') %>
</head>

<body class="hold-transition sidebar-mini layout-fixed text-sm">
<div class="wrapper">
    <%- include('./layouts/navigation.ejs') %>
    <%- include('./layouts/main-sidebar.ejs') %>

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Dashboard</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Domov</a></li>
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- Small boxes (Stat box) -->
                <div class="row">
                    <div class="col-lg-3 col-12 col-sm-6">
                        <!-- small box -->
                        <div class="small-box bg-info">
                            <div class="inner">
                                <h3 id="groupsCount"></h3>

                                <p>Skupiny</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-bag"></i>
                            </div>
                        </div>
                    </div>
                    <% if (user.role.name === 'admin') { %>
                    <!-- ./col -->
                    <div class="col-lg-3 col-12 col-sm-6">
                        <!-- small box -->
                        <div class="small-box bg-success">
                            <div class="inner">
                                <h3 id="teachersCount"></h3>

                                <p>Učitelia</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-stats-bars"></i>
                            </div>
                        </div>
                    </div>
                        <% } %>
                    <!-- ./col -->
                    <div class="col-lg-3 col-12 col-sm-6">
                        <!-- small box -->
                        <div class="small-box bg-warning">
                            <div class="inner">
                                <h3 id="studentsCount"></h3>

                                <p>Žiaci</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-person-add"></i>
                            </div>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-12 col-sm-6">
                        <!-- small box -->
                        <div class="small-box bg-danger">
                            <div class="inner">
                                <h3 id="tasksCount"></h3>

                                <p>Úlohy</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-pie-graph"></i>
                            </div>
                        </div>
                    </div>
                    <!-- ./col -->
                </div>
                <!-- /.row -->
                <!-- Main row -->
                <div class="row">

                </div>
                <!-- /.row (main row) -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <form id="statistics">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" id="csrf">
    </form>

    <%- include('./layouts/footer.ejs') %>
</div>
<%- include('./layouts/end.ejs') %>
<script src="/js/admin/dashboard.js"></script>