<%- include('./layouts/head.ejs') %>
<link rel="stylesheet" href="/css/taskCard.css">
<link rel="stylesheet" href="/css/game.css">
</head>

<body class="hold-transition sidebar-mini layout-fixed text-sm">
<div class="wrapper">
    <%- include('./layouts/navigation.ejs') %>
    <%- include('./layouts/main-sidebar.ejs') %>

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Všetky slová</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Domov</a></li>
                            <li class="breadcrumb-item active">Všetky slová</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <%- include('../components/loader.ejs') %>
                <%- include('../components/emptyRecords.ejs') %>
                <div id="games" class="mt-5 d-flex flex-wrap">
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>

    <form id="showForm">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" id="csrf">
    </form>

    <div class="modal fade" id="gameShowModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modalTitle">Prehľad hracej plochy</h4>
                    <button type="button" class="close modalIconClose" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Team item -->
                    <div class="container">
                        <div id="game" class="m-3">

                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <%- include('./components/gameModal.ejs') %>

    <%- include('./layouts/footer.ejs') %>
</div>
<%- include('./layouts/end.ejs') %>
<script type="module" src="/js/form/validation.js"></script>
<script type="module" src="/js/admin/form/gameForm.js"></script>
<script src="/js/algorithm/helpers/binaryHeap.js"></script>
<script src="/js/algorithm/helpers/gridNode.js"></script>
<script src="/js/algorithm/helpers/graph.js"></script>
<script src="/js/algorithm/backtracking.js"></script>
<script src="/js/algorithm/dijkstrov.js"></script>
<script src="/js/admin/validations/validate.js"></script>
<script src="/js/admin/helpers/modalHelper.js"></script>
<script src="/js/admin/helpers/actionHelper.js"></script>
<script src="/js/admin/helpers/cardHelper.js"></script>
<script src="/js/admin/helpers/gameHelper.js"></script>
<script src="/js/helpers/extendClass.js"></script>
<script src="/js/helpers/dragAndDrop.js"></script>
<script src="/js/helpers/image.js"></script>
<script src="/js/helpers/car.js"></script>
<script src="/js/helpers/game.js"></script>
<script src="/js/admin/games.js"></script>