<%- include('./layouts/head.ejs') %>

<link rel="stylesheet" href="/css/multiselect.css">
<link rel="stylesheet" href="/css/admin/userCard.css">
</head>

<body class="hold-transition sidebar-mini layout-fixed text-sm">
<div class="wrapper">
    <%- include('./layouts/navigation.ejs') %>
    <%- include('./layouts/main-sidebar.ejs') %>

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Skupiny</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Domov</a></li>
                            <li class="breadcrumb-item active">Skupiny</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-10 col-lg-8 ml-auto mr-auto">
                        <!-- general form elements -->
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title" id="cardTitle">Vytvorenie skupiny</h3>

                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse"
                                            title="Minimalizovať">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <form id="groupCreationForm">
                                    <input type="hidden" name="role" value="<%= user.role.name %>" id="role">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" id="csrf">
                                    <div class="card-body row">
                                        <div class="form-group col-md-12">
                                            <label for="groupNameInput">Meno skupiny*</label>
                                            <input type="text" class="form-control" id="groupNameInput"
                                                   placeholder="Meno skupiny"
                                                   name="groupName">

                                            <ul class="input-requirements">
                                                <li>Dĺžka mena skupiny je minimálne 3 znaky</li>
                                                <li>Meno skupiny musí byť unikátne (kontrola po odoslaní formulára)</li>
                                            </ul>
                                        </div>

                                        <% if (user.role.name === 'admin') { %>
                                            <div class="form-group col-md-12">
                                                <label for="ownerInput">Vedúci skupiny</label>
                                                <span class="group-owner-select" id="ownerSelect"></span>
                                            </div>
                                        <% } %>

                                        <div class="form-group col-md-12">
                                            <label for="firstNameInput">Žiaci</label>
                                            <span class="group-multiselect" id="groupMultiselect"></span>
                                        </div>


                                        <div class="col-md-12 text-right">
                                            <button type="button" id="submit" class="btn btn-primary"
                                                    data-action="create"
                                                    onclick="createOrEditGroup(this)">Vytvoriť
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="mt-5" style="position: relative; margin-left: -80px;">
                        <%- include('../components/loader.ejs') %>
                        <%- include('../components/emptyRecords.ejs') %>
                    </div>
                    <div id="groups" class="mt-5 d-flex flex-wrap">

                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>

    <div class="modal fade" id="modal-default">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content student-modal-bg">
                <div class="modal-body text-center">
                    <!-- Team item -->
                    <div class="container">
                        <div class="at-section">
                            <div class="at-section__title" id="groupName">Meno Skupiny</div>
                            <div class="at-section__teacher">Veduci skupiny: <span id="ownedBy"></span></div>
                        </div>

                        <div class="at-grid" id="usersContainer" data-column="3">

                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <div class="modal-backdrop fade" id="backdrop"></div>

    <%- include('./layouts/footer.ejs') %>
</div>
<%- include('./layouts/end.ejs') %>
<script type="text/javascript" src="/dist/js/bundle.min.js"></script>
<script type="module" src="/js/form/validation.js"></script>
<script type="module" src="/js/admin/form/groupForm.js"></script>
<script src="/js/admin/validations/validate.js"></script>
<script src="/js/admin/helpers/modalHelper.js"></script>
<script src="/js/admin/helpers/actionHelper.js"></script>
<script src="/js/admin/helpers/cardHelper.js"></script>
<script src="/js/admin/groups.js"></script>