<%- include('./layouts/head.ejs') %>
<link rel="stylesheet" href="/css/multiselect.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>

<body class="hold-transition sidebar-mini layout-fixed text-sm">
<div class="wrapper">
    <%- include('./layouts/navigation.ejs') %>
    <%- include('./layouts/main-sidebar.ejs') %>

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Vytvoriť úlohu</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Domov</a></li>
                            <li class="breadcrumb-item active">Vytvoriť úlohu</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-10 col-lg-8 ml-auto mr-auto">
                        <!-- general form elements -->
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title" id="cardTitle">Vytvorenie úlohy</h3>

                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse"
                                            title="Minimalizovať">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <form id="taskCreationForm">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" id="csrf">
                                    <div class="card-body row">
                                        <div class="form-group col-md-6">
                                            <label for="titleInput">Názov*</label>
                                            <input type="text" class="form-control" id="titleInput"
                                                   placeholder="Nazov"
                                                   name="title">

                                            <ul class="input-requirements">
                                                <li>Dĺžka názvu je minimálne 3 znaky</li>
                                            </ul>
                                        </div>

                                        <div class="form-group col-md-6">
                                            <label for="exampleInputFile">Titulný obrázok</label>
                                            <div class="input-group">
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input" id="exampleInputFile">
                                                    <label class="custom-file-label" for="exampleInputFile">Vybrať
                                                        obrázok</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group col-md-6">
                                            <label for="startedAtInput">Začiatok*</label>
                                            <input type="text" class="form-control" id="startedAtInput"
                                                   placeholder="Zaciatok"
                                                   name="from">

                                            <ul class="input-requirements">
                                                <li>Začiatok je povinný údaj</li>
                                                <li>Začiatok nemôže byť neskoršie ako Koniec</li>
                                            </ul>
                                        </div>

                                        <div class="form-group col-md-6">
                                            <label for="finishedAtInput">Koniec*</label>
                                            <input type="text" class="form-control" id="finishedAtInput"
                                                   placeholder="Koniec"
                                                   name="to">

                                            <ul class="input-requirements">
                                                <li>Koniec je povinný údaj</li>
                                                <li>Koniec nemôže byť skôr ako Začiatok</li>
                                            </ul>
                                        </div>

                                        <div class="form-group col-md-12">
                                            <label for="descriptionInput">Popis</label>
                                            <textarea id="descriptionInput" class="form-control" rows="4"></textarea>
                                        </div>

                                        <div class="form-group col-md-12">
                                            <label for="groupsInput">Skupiny</label>
                                            <span class="group-multiselect" id="groupsInput"></span>
                                        </div>

                                        <div class="form-group col-md-12">
                                            <label for="gamesInput">Slová</label>
                                            <div class="d-flex">
                                                <span class="games-multiselect flex-grow-1" id="gamesInput"></span>
                                                <button type="button" id="addGameBtn" class="btn btn-outline-primary"
                                                        onclick="toggleModal('gameCreationModal')">Vytvoriť slovo
                                                </button>
                                            </div>
                                        </div>

                                        <div class="col-md-12 text-right">
                                            <button type="button" id="submit" class="btn btn-primary"
                                                    data-action="create"
                                                    onclick="createOrUpdateTask(this)">Vytvoriť
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>

    <%- include('./components/gameModal.ejs') %>

    <%- include('./layouts/footer.ejs') %>
</div>
<%- include('./layouts/end.ejs') %>

<script type="text/javascript" src="/dist/js/bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script type="module" src="/js/form/validation.js"></script>
<script type="module" src="/js/admin/form/taskForm.js"></script>
<script type="module" src="/js/admin/form/gameForm.js"></script>
<script src="/js/admin/validations/validate.js"></script>
<script src="/js/admin/helpers/modalHelper.js"></script>
<script src="/js/admin/helpers/gameHelper.js"></script>
<script src="/js/admin/helpers/taskHelper.js"></script>
<script src="/js/admin/tasks.js"></script>