<%- include('./layouts/head.ejs') %>
<link rel="stylesheet" href="/css/taskCard.css">
<link rel="stylesheet" href="/css/multiselect.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>

<body class="hold-transition sidebar-mini layout-fixed text-sm">
<div class="wrapper">
    <%- include('./layouts/navigation.ejs') %>
    <%- include('./layouts/main-sidebar.ejs') %>

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Všetky úlohy</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Domov</a></li>
                            <li class="breadcrumb-item active">Všetky úlohy</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <%- include('../components/loader.ejs') %>
                <%- include('../components/emptyRecords.ejs') %>
                <div id="tasks">
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>

    <form id="showForm">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" id="csrf2">
    </form>

    <%- include('./components/taskModal.ejs') %>
    <%- include('./layouts/footer.ejs') %>
</div>
<%- include('./layouts/end.ejs') %>
<script type="text/javascript" src="/dist/js/bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script type="module" src="/js/form/validation.js"></script>
<script type="module" src="/js/admin/form/taskForm.js"></script>
<script src="/js/admin/validations/validate.js"></script>
<script src="/js/admin/helpers/actionHelper.js"></script>
<script src="/js/admin/helpers/modalHelper.js"></script>
<script src="/js/admin/helpers/cardHelper.js"></script>
<script src="/js/admin/helpers/taskHelper.js"></script>
<script src="/js/admin/tasksIndex.js"></script>