<%- include('./layouts/head.ejs') %>
</head>

<body class="hold-transition sidebar-mini layout-fixed text-sm">
<div class="wrapper">
    <%- include('./layouts/navigation.ejs') %>
    <%- include('./layouts/main-sidebar.ejs') %>

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Učitelia</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Domov</a></li>
                            <li class="breadcrumb-item active">Učitelia</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-10 col-lg-8 ml-auto mr-auto">
                        <!-- general form elements -->
                        <div class="card card-primary">
                            <form id="teacherCreationForm">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>" id="csrf">
                                <div class="card-body row">
                                    <div class="form-group col-md-6">
                                        <label for="firstNameInput">Meno*</label>
                                        <input type="text" class="form-control" id="firstNameInput" placeholder="Meno"
                                               name="firstName">

                                        <ul class="input-requirements">
                                            <li>Dĺžka mena je minimálne 3 znaky</li>
                                        </ul>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="lastNameInput">Priezvisko*</label>
                                        <input type="text" class="form-control" id="lastNameInput"
                                               placeholder="Priezvisko" name="lastName">

                                        <ul class="input-requirements">
                                            <li>Dĺžka mena je minimálne 3 znaky</li>
                                        </ul>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="emailAddressInput">E-mailová adresa*</label>
                                        <input type="email" class="form-control" id="emailAddressInput"
                                               placeholder="E-mailová adresa" name="emailAddress">

                                        <ul class="input-requirements">
                                            <li>Dlžka e-mailu je minimálne 3 znaky</li>
                                            <li>Môže obsahovať len písmená a čísla</li>
                                        </ul>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="passwordInput">Heslo*</label>
                                        <input type="password" class="form-control" id="passwordInput"
                                               placeholder="Heslo" name="password">
                                    </div>

                                    <div class="col-md-12 text-right">
                                        <button type="button" id="submit" class="btn btn-primary" data-action="create"
                                                onclick="createOrEditTeacher(this)">Vytvoriť
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div id="teachers" class="mt-5 d-flex flex-wrap">

                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>

    <div class="modal fade" id="modal-default">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content teacher-modal-bg">
                <div class="modal-body text-center">
                    <!-- Team item -->
                    <div class="offset-xl-2 col-xl-8 offset-sm-3 col-sm-6 p-20">
                        <div class="bg-white rounded shadow-sm py-5 px-4"><img
                                    src="/dist/img/user2-160x160.jpg"
                                    alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                            <h5 class="mb-0" id="userName">Manuella Nevoresky</h5>
                            <span class="small text-lowercase text-muted" id="userEmail">CEO - Founder</span><br>
                            <span class="small text-lowercase text-muted" id="userGroup"></span>
                            <ul class="social mb-0 list-inline mt-3">
                                <li class="list-inline-item"><a href="#" class="social-link"><i
                                                class="fab fa-facebook-f"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="social-link"><i
                                                class="fab fa-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="social-link"><i
                                                class="fab fa-instagram"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="social-link"><i
                                                class="fab fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div><!-- End -->
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <div class="modal-backdrop fade" id="backdrop"></div>
    <%- include('./layouts/footer.ejs') %>
</div>
<%- include('./layouts/end.ejs') %>
<script type="module" src="/js/form/validation.js"></script>
<script type="module" src="/js/admin/form/teacherForm.js"></script>
<script src="/js/admin/validations/validate.js"></script>
<script src="/js/admin/helpers/modalHelper.js"></script>
<script src="/js/admin/helpers/actionHelper.js"></script>
<script src="/js/admin/helpers/cardHelper.js"></script>
<script defer src="/js/admin/teachers.js"></script>