<footer class="main-footer">
</footer>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
    <form action="/logout" method="post" style="display: flex; justify-content: center; align-items: center; height: 100%;">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button type="submit" class="btn logout-btn">Logout</button>
    </form>
</aside>
<!-- /.control-sidebar -->