<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="/" class="brand-link">
        <img src="/img/logo_white.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
    </a>

    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block"><%= user.firstName %> <%= user.lastName %></a>
            </div>
        </div>

        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column nav-compact" data-widget="treeview" role="menu"
                data-accordion="false">
                <li class="nav-item">
                    <a href="/admin/dashboard" class="nav-link <%= path === '/admin/dashboard' ? 'active' : '' %>">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/groups" class="nav-link <%= path === '/admin/groups' ? 'active' : '' %>">
                        <i class="nav-icon fas fa-object-group"></i>
                        <p>
                            Skupiny
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/students" class="nav-link <%= path === '/admin/students' ? 'active' : '' %>">
                        <i class="nav-icon fas fa-users"></i>
                        <p>
                            Žiaci
                        </p>
                    </a>
                </li>
                <li class="nav-item <%= ['/admin/tasks/new', '/admin/tasks/index', '/admin/games/index'].includes(path) ? "menu-is-opening menu-open" : "" %>">
                    <a href="#"
                       class="nav-link <%= ['/admin/tasks/new', '/admin/tasks/index', '/admin/games/index'].includes(path) ? 'active' : '' %>">
                        <i class="nav-icon fas fa-copy"></i>
                        <p>
                            Úlohy
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/admin/tasks/index"
                               class="nav-link <%= path === '/admin/tasks/index' ? 'active' : '' %>">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Zobraziť všetky</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/tasks/new"
                               class="nav-link <%= path === '/admin/tasks/new' ? 'active' : '' %>">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Vytvoriť novú</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/games/index"
                               class="nav-link <%= path === '/admin/games/index' ? 'active' : '' %>">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Všetky slová</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <% if (user.role.name === 'admin') { %>
                    <li class="nav-item">
                        <a href="/admin/teachers" class="nav-link <%= path === '/admin/teachers' ? 'active' : '' %>">
                            <i class="nav-icon fas fa-chalkboard-teacher"></i>
                            <p>
                                Učitelia
                            </p>
                        </a>
                    </li>
                <% } %>
            </ul>
        </nav>
    </div>
</aside>