<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
<!-- jQuery -->
<script src="/plugins/jquery/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
<script>
    if (document.getElementById('userMenu')){
        const elem = document.getElementById('userMenu');
        elem.addEventListener('click', () => {
           document.getElementById('userArea').classList.toggle('show');
           document.getElementById('userDropDownMenu').classList.toggle('show');
        });
    }

    window.onclick = (event) => {
        if (document.getElementById('userMenu')) {
            const userArea = document.getElementById('userMenu');
            if (event.target !== userArea) {
                document.getElementById('userArea').classList.remove('show');
                document.getElementById('userDropDownMenu').classList.remove('show');
            }
        }
    }

    function controlNav() {
        document.getElementById("mySidenav").classList.toggle("open");
    }
</script>
</body>

</html>