<div class="navbar_wrraper">
    <div class="container mobile_container">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="/">
<!--                <img src="#" alt="logo"/>-->
            </a>
            <button class="navbar-mobile navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <label>
                    <input type="checkbox">
                    <div class="bar-wrapper">
                        <div class="bar top-bar"></div>
                        <div class="bar middle-bar"></div>
                        <div class="bar bottom-bar"></div>
                    </div>
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
                </label>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto d-flex">
                    <li class="nav-item underline droppable">
                        <a class="nav-link " href="/" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Domov
                        </a>
                    </li>
                    <li class="nav-item underline droppable">
                        <a class="nav-link <%= path === '/ulohy' ? 'active' : '' %>" href="/ulohy" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Úlohy
                        </a>
                    </li>
                </ul>

                <div class="user-area dropdown float-right" id="userArea">
                    <p style="margin: 0 15px 0 0"><%= username %></p>
                    <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="user-avatar rounded-circle" src="/dist/img/user.jpg" alt="User Avatar" id="userMenu">
                    </a>

                    <div class="user-menu dropdown-menu" id="userDropDownMenu">
                        <form action="/logout" method="post" class="logout-form">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button class="logout-btn" type="submit">Odhlásiť sa</button>
                        </form>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>

