<div class="navbar_wrraper">
    <div class="container mobile_container" style="height: 100% !important;">
        <nav class="navbar navbar-expand-lg" style="height: 100%">
            <a class="navbar-brand" href="/">
<!--                <img src="" alt="logo"/>-->
            </a>
            <div>
                <button class="navbar-mobile navbar-toggler" type="button">
                    <label>
                        <input type="checkbox">
                        <div class="bar-wrapper" onclick="controlNav()">
                            <div class="bar top-bar"></div>
                            <div class="bar middle-bar"></div>
                            <div class="bar bottom-bar"></div>
                        </div>
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
                    </label>
                </button>
            </div>
        </nav>
        <div id="mySidenav" class="sidenav">
            <ul>
                <li class="nav-item">
                    <a class="login" href="/ulohy">
                        Úlohy
                    </a>
                </li>
                <li class="nav-item">
                    <a class="login" href="/prihlasenie">
                        Odhlásiť sa
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>