<%- include('../layouts/head.ejs') %>
<link rel="stylesheet" href="/css/admin/login.css">
</head>

<body>

<main>
    <div class="container login-container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-8">
                <div class="card login-wrapper">
                    <div class="card-body">
                        <p class="domain">cestadopravopisu.sk</p>
                        <h1>Prihlásenie administrátorom</h1>
                        <form id="adminLoginForm" onsubmit="adminLogin(this)" autocomplete="off" novalidate>
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>" id="csrf">

                            <div class="alert alert-danger" role="alert" id="login_error" style="display: none">
                            </div>

                            <div class="form-group">
                                <label for="email" class="col-form-label">E-mailová adresa</label>

                                <div class="login-input-wrapper">
                                    <input id="email" type="email" class="input-email" name="email" value="" autocomplete="new-password" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="password" class="col-form-label">Heslo</label>

                                <div class="login-input-wrapper">
                                    <input id="password" type="password" class="input-pass" name="password" value="" autocomplete="new-password" required>
                                </div>
                            </div>

                            <div class="form-group row mb-0">
                                <div class="col-md-12">
                                    <button class="login-button" type="submit">Prihlásiť sa
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    <div class="centered">-->
    <!--        <a href="/reset">Reset Password</a>-->
    <!--    </div>-->
</main>
<%- include('../layouts/end.ejs') %>
<script src="/js/admin/login.js"></script>