.grid-square {
    width: 50px;
    height: 50px;
    border: 1px solid BLACK;
    background-color: GREEN;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #fff;
    position: relative;
}

.grid-square .absolute-letter{
    margin: 0;
    position: absolute;
    pointer-events: none;
}

#actualWord .correct, #actualWord .incorrect{
    position: relative;
}

#actualWord .correct{
    color: green;
}

#actualWord .incorrect{
    color: red;
}

#game .startRH::before, .startLH::before, .startUV::before, .startDV::before {
    position: absolute;
    content: "Štart";
    color: #000;
    font-size: 12px;
}

#game .startRH::before, .finishRH::after{
    top: 14px;
    transform: rotate(90deg);
    right: -25px;
}

#game .startLH::before, .finishLH::after{
    transform: rotate(-90deg);
    left: -35px;
}

#game .startUV::before, .finishUV::after{
    top: -25px;
}

#game .startDV::before, .finishDV::after{
    bottom: -20px;
}

#game .finishRH::after, .finishLH::after, .finishUV::after, .finishDV::after{
    position: absolute;
    content: "Cieľ";
    color: #000;
    font-size: 12px;
}

#game .car-icon{
    width: 35%;
    position: absolute;
    z-index: 100;
    left: 15px;
    pointer-events: none;
}

#game{
    position: relative;
}

.trash-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.trash-wrapper i{
    font-size: 30px;
}

#commands{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#commands .roads-div{
    margin-right: 10px;
    box-shadow: rgba(50, 50, 93, 0.4) 0 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0 18px 36px -18px inset;
}

#commands .roads, #commands .roads-div, #game .roads, #game .roads-div {
    width: 50px;
    height: 50px;
}

#commands .roads-div:hover {
    cursor: pointer;
}