@media only screen and (max-width: 992px) {
    .desktop-nav {
        display: none;
    }
}

.mobile-nav {
    display: none;
}

@media only screen and (max-width: 992px) {
    .mobile-nav {
        display: block;
    }
}

.navbar_wrraper {
    box-shadow: 0 0 20px 4px rgba(103, 103, 103, 0.08);
}

.navbar_wrraper .navbar {
    padding: 0;
}

.navbar_wrraper .navbar li {
    background: transparent;
    border: none;
    display: block;
    font-size: 20px;
    outline: none;
    position: relative;
    transition: 0.3s;
}

.navbar_wrraper .navbar .underline:before {
    content: "";
    position: absolute;
    left: 50%;
    -webkit-transform: translatex(-50%);
    transform: translatex(-50%);
    background: #bd7c2f;
    height: 3px;
    width: 0;
    bottom: 0;
    display: block;
    transition: 0.15s cubic-bezier(0.18, 0.89, 0.32, 1.28) width;
}

.navbar_wrraper .navbar .underline:hover:before {
    width: 85%;
    padding: 0;
}

.navbar_wrraper .nav-item a {
    padding: 30px 0;
    margin: 0 10px;
}

.navbar_wrraper .navbar .nav-item .nav-link {
    font-size: 13px;
    font-weight: 600 !important;
    color: palette(black, dark);
    text-transform: uppercase;
}

.navbar_wrraper .navbar .nav-item .nav-link.active {
    color: #bd7c2f;
}

.navbar_wrraper .navbar .nav-item .nav-link:hover {
    color: palette(primary, base);
}

.navbar_wrraper .navbar-mobile {
    border: none;
    outline: none;
}

@media only screen and (max-width: 992px) {
    .navbar_wrraper .navbar-mobile {
        position: absolute;
        top: 0;
    }
}

.navbar_wrraper .navbar-mobile:hover,
.navbar_wrraper .navbar-mobile:active,
.navbar_wrraper .navbar-mobile:focus {
    outline: none;
    box-shadow: none;
}

.navbar_wrraper .navbar-mobile img {
    width: 30px;
}

.navbar_wrraper .navbar-mobile label {
    position: absolute;
    cursor: pointer;
    right: 10px;
    top: 30px;
    width: 30px;
}

@media only screen and (max-width: 992px) {
    .navbar_wrraper .navbar-mobile label {
        right: 30px;
    }
}

@media only screen and (max-width: 576px) {
    .navbar_wrraper .navbar-mobile label {
        right: 20px;
        top: 17px;
    }
}

.navbar_wrraper .navbar-mobile label img {
    display: block;
    height: auto;
}

.navbar_wrraper .navbar-mobile label .bar-wrapper,
.navbar_wrraper .navbar-mobile label .bar {
    position: relative;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}

.navbar_wrraper .navbar-mobile label .bar:before,
.navbar_wrraper .navbar-mobile label .bar:after {
    content: "";
    width: 50%;
    height: 15%;
    background: #bd7c2f;
    display: block;
    position: absolute;
    left: 0;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.2);
    border-radius: 10px;
}

.navbar_wrraper .navbar-mobile label .bar:before {
    left: 5%;
}

.navbar_wrraper .navbar-mobile label .bar:after {
    right: 5%;
    left: initial;
}

.navbar_wrraper .navbar-mobile label .top-bar:before,
.navbar_wrraper .navbar-mobile label .top-bar:after {
    top: 10%;
}

.navbar_wrraper .navbar-mobile label .middle-bar:before,
.navbar_wrraper .navbar-mobile label .middle-bar:after {
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    transition: 0.2s ease 0.1s;
}

.navbar_wrraper .navbar-mobile label .bottom-bar:before,
.navbar_wrraper .navbar-mobile label .bottom-bar:after {
    bottom: 10%;
}

.navbar_wrraper .navbar-mobile label input {
    display: none;
}

.navbar_wrraper .navbar-mobile label input:checked ~ .bar-wrapper {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.navbar_wrraper .navbar-mobile label input:checked ~ .bar-wrapper .middle-bar:before,
.navbar_wrraper .navbar-mobile label input:checked ~ .bar-wrapper .middle-bar:after {
    width: 0%;
    border-radius: 10px !important;
}

.navbar_wrraper .navbar-mobile label input:checked ~ .bar-wrapper .top-bar:before {
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: rotate(45deg) translate(10%, -70%);
    transform: rotate(45deg) translate(10%, -70%);
    left: 0;
}

.navbar_wrraper .navbar-mobile label input:checked ~ .bar-wrapper .top-bar:after {
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-transform: rotate(-45deg) translate(-10%, -70%);
    transform: rotate(-45deg) translate(-10%, -70%);
    right: 0;
}

.navbar_wrraper .navbar-mobile label input:checked ~ .bar-wrapper .bottom-bar:before {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(-45deg) translate(10%, 70%);
    transform: rotate(-45deg) translate(10%, 70%);
    left: 0;
}

.navbar_wrraper .navbar-mobile label input:checked ~ .bar-wrapper .bottom-bar:after {
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: rotate(45deg) translate(-10%, 70%);
    transform: rotate(45deg) translate(-10%, 70%);
    right: 0;
}

.navbar_wrraper .login {
    padding: 15px 20px !important;
    margin: 15px 10px !important;
    background: #f4f9fb;
    height: 50px;
    font-size: 14px;
    line-height: 21px;
    color: #222;
    font-weight: 600;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    position: relative;
    transition: 0.3s ease;
}

.navbar_wrraper .login:hover {
    background: rgba(189, 124, 47, 0.3);
}

@media only screen and (max-width: 1200px) {
    .navbar_wrraper .login {
        position: relative;
    }
}

.navbar_wrraper .login a {
    color: #bd7c2f;
}

.navbar_wrraper .navitem_wrraper {
    position: absolute;
    background: white;
    width: 100%;
    border-top: 1px solid rgba(217, 217, 217, 0.3);
    z-index: 3;
    padding: 20px 0;
    box-shadow: 0px 6px 10px 0px rgba(103, 103, 103, 0.03);
}

.navbar_wrraper .navitem_wrraper .nav_item_border {
    border-left: 2px solid rgba(217, 217, 217, 0.3);
    padding-left: 30px;
}

.navbar_wrraper .navitem_wrraper .nav_item_img {
    width: 100%;
    padding-top: 30%;
    background-image: url(https://cdn1.weddingwire.com/assets/img/gen_tabs-rw.png);
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    margin-bottom: 15px;
}

.navbar_wrraper .navitem_wrraper .tabsBanner {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.navbar_wrraper .navitem_wrraper .tabsBanner .tabsHeaderBanner {
    padding: 15px 75px 0 15px;
    background-image: url("https://cdn1.weddingwire.com/assets/img/dropdown/contest.jpg");
    background-size: cover;
}

.navbar_wrraper .navitem_wrraper .tabsBanner .tabsHeaderBanner h4 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.navbar_wrraper .navitem_wrraper a {
    color: #bd7c2f;
    font-size: 13px;
}

.navbar_wrraper .navitem_wrraper p {
    font-size: 13px;
    color: #6c6c6c;
}

.navbar_wrraper .navitem_wrraper .nav_item_icon {
    text-align: center;
}

.navbar_wrraper .navitem_wrraper .nav_item_icon img {
    height: 20px;
}

.navbar_wrraper .navitem_wrraper h4 {
    color: #303960;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 17px;
    margin-bottom: 15px;
}

.shoping-cart {
    padding: 25px 0 !important;
    position: relative;
}

.shoping-cart img {
    width: 25px;
}

@media only screen and (max-width: 576px) {
    .shoping-cart img {
        width: 20px;
    }
}

@media only screen and (max-width: 992px) {
    .mobile_container {
        max-width: 100% !important;
    }
}

.badge_cart {
    position: absolute;
    min-width: 22px;
    height: 22px;
    color: #fff;
    border-radius: 50%;
    background-color: #bd7c2f;
    text-align: center;
    line-height: 1.9;
    font-size: 12px;
    bottom: 15px;
    right: -15px;
    padding: 0 3px;
}

@media only screen and (max-width: 576px) {
    .badge_cart {
        bottom: 20px;
    }
}

.navbar_wrraper {
    position: fixed;
    background: white;
    width: 100%;
    z-index: 150;
    top: 0;
    height: 80px;
}

@media only screen and (max-width: 576px) {
    .navbar_wrraper {
        height: 60px;
    }
}

.navbar_wrraper .navbar .nav-link {
    height: 80px;
    font-size: 14px;
    line-height: 21px;
    color: #222;
    font-weight: 600;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    position: relative;
}

@media only screen and (max-width: 992px) {
    .navbar_wrraper .navbar .nav-link {
        position: absolute;
        top: 2px;
        right: 70px;
    }
}

@media only screen and (max-width: 576px) {
    .navbar_wrraper .navbar .nav-link {
        top: -10px;
        right: 50px;
    }
}

.navbar_wrraper .navbar .nav-link:hover {
    color: #bd7c2f;
}

.navbar_wrraper .mega-menu {
    background: #f0f0f0;
    display: none;
    left: 0;
    position: fixed;
    text-align: left;
    width: 100%;
    z-index: 50;
}

.navbar_wrraper .mega-menu h3 {
    color: #444;
}

.navbar_wrraper .mega-menu ul {
    float: left;
    margin-bottom: 20px;
    margin-right: 40px;
    width: 205px;
}

.navbar_wrraper .mega-menu ul:last-child {
    margin-right: 0;
}

.navbar_wrraper .mega-menu a {
    font-weight: 600;
    font-family: "Raleway", sans-serif;
    margin: 0;
    color: rgba(35, 31, 32, 0.6);
    display: block;
    padding: 5px 0 !important;
    text-transform: uppercase;
    font-size: 13px;
}

.navbar_wrraper .mega-menu a:hover {
    color: #bd7c2f;
    text-decoration: none;
}

.navbar_wrraper .droppable {
    position: static;
}

.navbar_wrraper .droppable:hover .mega-menu {
    display: block;
}

/*.navbar-collapse{
  background: white;
  width: 250px;
  position: absolute;
  right: -15px;
  top: 80px;
  height: calc(100vh - 80px);
}*/

@media only screen and (max-width: 992px) {
    .navbar-brand {
        padding-top: 10px !important;
    }
}

.navbar-brand img {
    width: 170px;
    margin-right: 50px;
}

@media only screen and (max-width: 576px) {
    .navbar-brand img {
        width: 110px;
    }
}

.sidenav {
    height: calc(100vh - 80px);
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 80px;
    right: -250px;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: 0 20px 20px 4px rgba(103, 103, 103, 0.08);
}

@media only screen and (max-width: 576px) {
    .sidenav {
        height: calc(100vh - 60px);
        top: 60px;
    }
}

.sidenav.open {
    right: 0;
}

.sidenav ul {
    list-style-type: none;
    padding: 0;
}

.sidenav ul li a {
    font-size: 15px;
    line-height: 21px;
    color: #222;
    font-weight: 600;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    position: relative;
    padding: 18px 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    text-align: right;
}

.sidenav ul li:first-child a {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 992px) {
    .sidenav .login {
        padding: 18px 30px !important;
        margin: 0 !important;
        background: #f4f9fb;
        height: auto;
        font-size: 14px;
        line-height: 21px;
        color: #222;
        font-weight: 600;
        letter-spacing: 0.2px;
        text-transform: uppercase;
        text-decoration: none;
        display: block;
        position: relative;
        transition: 0.3s ease;
        border: none;
        text-align: center;
    }
}

navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.navbar-toggler:hover,
.navbar-toggler:focus {
    text-decoration: none;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}

.user-area .dropdown-toggle {
    position: relative;
    z-index: 0;
}

.user-area .dropdown-toggle:before {
    content: "";
    position: absolute;
    right: -3px;
    bottom: 10px;
    background: #868e96;
    width: 11px;
    height: 11px;
    border-radius: 100%;
    border: 2px solid white;
    z-index: 1;
}

.user-area .dropdown-toggle.active:before {
    background: #49a342;
}

.dropdown-menu {
    border-radius: 0;
    -webkit-transform: none !important;
    transform: none !important;
}

.user-area {
    float: right;
    padding-right: 0;
    position: relative;
    padding-left: 20px;
    display: flex;
    align-items: center;
    height: 100%;
}

.user-area .user-menu {
    background: #fff;
    border: none;
    left: inherit !important;
    right: 0;
    top: 54px !important;
    margin: 0;
    max-width: 150px;
    padding: 5px 10px;
    position: absolute;
    width: 100%;
    z-index: 999;
    min-width: 150px;
    -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
}

.user-area .user-menu .nav-link {
    color: #607d8b;
    font-size: 13px;
    line-height: 22px;
    padding: 5px 0;
    height: 40px;
    display: flex;
    align-items: center;
}

.user-area .user-menu .nav-link > i {
    margin-right: 10px;
}

.user-area .user-avatar {
    float: right;
    width: 40px;
}

.user-area .user-info .name {
    color: #8c8c8c;
    font-size: 14px;
    position: relative;
    text-transform: uppercase;
}

.user-area .count {
    background: #d9534f;
    border-radius: 50%;
    color: #fff;
    font-family: 'Open Sans';
    font-size: 9px;
    font-weight: 700;
    float: right;
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
}

.user-area .dropdown-toggle {
    line-height: 55px;
    height: 55px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.user-area .dropdown-toggle:after {
    display: none;
}

.logout-form{
    display: flex;
    justify-content: center;
}

.logout-form,
.logout-btn{
    outline: none;
    box-shadow: none;
    background: none;
    border: none;
    font-size: 13px;
    font-weight: 600 !important;
    color: palette(black, dark);
    text-transform: uppercase;
    padding: 5px 0;
}

.logout-form .logout-btn:hover{
    color: #bd7c2f;
}

.logout-form .logout-btn:focus, .logout-form .logout-btn:active{
    box-shadow: none;
    border: none;
    outline: none;
}