@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);
.slide-container {
    margin: auto;
    width: 600px;
    text-align: center;
}

#tasks {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.card-wrapper {
    display: flex;
    padding-bottom: 40px;
    width: 33.3333333333%;
    max-width: 33.3333333333%;
    min-width: 33.3333333333%;
    flex-basis: 33.3333333333%;
}

@media only screen and (max-width: 992px) {
    .card-wrapper{
        width: 50%;
        max-width: 50%;
        min-width: 50%;
        flex-basis: 50%;
    }
}

@media only screen and (max-width: 767px) {
    .card-wrapper{
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        flex-basis: 100%;
    }
}

.card-wrapper:focus {
    outline: 0;
}
.clash-card {
    margin: 60px auto;
    background: white;
    width: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 19px;
    position: relative;
    text-align: center;
    box-shadow: -1px 15px 30px -12px black;
    z-index: 100;
}
.clash-card__image {
    position: relative;
    height: 160px;
    margin-bottom: 15px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}
.clash-card__image--barbarian {
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/barbarian-bg.jpg');
}
.clash-card__image--barbarian img {
    width: 400px;
    position: absolute;
    top: -65px;
    left: -70px;
}
.clash-card__image--archer {
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/archer-bg.jpg');
}
.clash-card__image--archer img {
    width: 400px;
    position: absolute;
    top: -34px;
    left: -37px;
}
.clash-card__image--giant {
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/giant-bg.jpg');
}
.clash-card__image--giant img {
    width: 340px;
    position: absolute;
    top: -30px;
    left: -25px;
}
.clash-card__image--goblin {
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/goblin-bg.jpg');
}
.clash-card__image--goblin img {
    width: 370px;
    position: absolute;
    top: -21px;
    left: -37px;
}
.clash-card__image--wizard {
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/wizard-bg.jpg');
}
.clash-card__image--wizard img {
    width: 345px;
    position: absolute;
    top: -28px;
    left: -10px;
}
.clash-card__level {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 3px;
}
.clash-card__level--barbarian {
    color: #ec9b3b;
}
.clash-card__level--archer {
    color: #ee5487;
}
.clash-card__level--giant {
    color: #f6901a;
}
.clash-card__level--goblin {
    color: #82bb30;
}
.clash-card__level--wizard {
    color: #4facff;
}
.clash-card__unit-name {
    font-size: 24px;
    color: black;
    font-weight: 900;
    margin-bottom: 5px;
}
.clash-card__unit-description {
    padding: 10px;
    margin-bottom: 10px;
}
.clash-card__unit-stats--barbarian {
    background: #ec9b3b;
}
.clash-card__unit-stats--barbarian .one-third {
    border-right: 1px solid #bd7c2f;
}
.clash-card__unit-stats--archer {
    background: #ee5487;
}
.clash-card__unit-stats--archer .one-third {
    border-right: 1px solid #d04976;
}
.clash-card__unit-stats--giant {
    background: #f6901a;
}
.clash-card__unit-stats--giant .one-third {
    border-right: 1px solid #de7b09;
}
.clash-card__unit-stats--goblin {
    background: #82bb30;
}
.clash-card__unit-stats--goblin .one-third {
    border-right: 1px solid #71a32a;
}
.clash-card__unit-stats--wizard {
    background: #4facff;
}
.clash-card__unit-stats--wizard .one-third {
    border-right: 1px solid #309eff;
}
.clash-card__unit-stats {
    color: white;
    font-weight: 700;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    margin-top: auto;
}
.clash-card__unit-stats .one-third {
    width: 50%;
    float: left;
    padding: 10px 10px;
}
.clash-card__unit-stats sup {
    position: absolute;
    bottom: 4px;
    font-size: 45%;
    margin-left: 2px;
}
.clash-card__unit-stats .stat {
    position: relative;
    font-size: 16px;
    margin-bottom: 10px;
}
.clash-card__unit-stats .stat-value {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
}
.clash-card__unit-stats .no-border {
    border-right: none;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.slick-prev {
    left: 100px;
    z-index: 999;
}
.slick-next {
    right: 100px;
    z-index: 999;
}

.group-swiper{
    display: inline-block;
    margin: 0 auto;
    position: relative;
}

.group-swiper .detailNext{
    position: absolute;
    top: -10px;
    right: -55px;
}

.group-swiper .detailPrev{
    position: absolute;
    top: -10px;
    left: -55px;
}

.group-swiper .swiper-button-next {
    background: white;
    border: 2px solid #e3e4e9;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    outline: none;
}

.group-swiper .swiper-button-next svg {
    fill: #e3e4e9;
}

.group-swiper .swiper-button-next:hover {
    background: #bd7c2f;
    cursor: pointer;
}

.group-swiper .swiper-button-next:hover svg {
    fill: white;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    pointer-events: auto;
    opacity: .35;
    cursor: auto;
}

.group-swiper .swiper-button-prev {
    background: white;
    border: 2px solid #e3e4e9;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    outline: none;
}

.group-swiper .swiper-button-prev svg {
    fill: #e3e4e9;
}

.group-swiper .swiper-button-prev:hover {
    background: #bd7c2f;
    cursor: pointer;
}

.group-swiper .swiper-button-prev:hover svg {
    fill: white;
}