.login-container .login-wrapper {
    width: 480px;
    border-radius: 4px;
    background: rgba(230, 230, 226, 0.2);
    margin: 120px auto 0 auto;
    border: none;
}
.login-container .login-wrapper .card-body {
    padding: 40px;
}
.login-container .login-wrapper .card-body .domain {
    color: #b38f66;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 12px;
    text-transform: uppercase;
    margin-bottom: 8px;
}
.login-container .login-wrapper .card-body h1 {
    color: #000000;
    font-family: "Playfair Display", serif;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 36px;
    margin-bottom: 40px;
}
.login-container .login-wrapper .card-body .form-group {
    margin-bottom: 0;
}
.login-container .login-wrapper .card-body .form-group label {
    color: #000000;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 12px;
    margin: 0;
    padding: 0;
}
.login-container .login-wrapper .card-body .form-group .login-input-wrapper input {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    border: 1px solid #ababaa;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 3px 10px;
}
.login-container .login-wrapper .card-body .form-group .login-input-wrapper input::-moz-placeholder {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: #000000;
}
.login-container .login-wrapper .card-body .form-group .login-input-wrapper input:-ms-input-placeholder {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: #000000;
}
.login-container .login-wrapper .card-body .form-group .login-input-wrapper input::placeholder {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: #000000;
}
.login-container .login-wrapper .card-body .form-group .login-input-wrapper .input-email {
    margin-bottom: 38px;
}
.login-container .login-wrapper .card-body .form-group .login-input-wrapper .input-pass {
    margin-bottom: 40px;
}
.login-container .login-wrapper .card-body .form-group .login-button {
    width: 100%;
    height: 52px;
    border-radius: 4px;
    background-color: #b38f66;
    border: none;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 16px;
}
.login-container .login-wrapper .card-body .form-group .login-button:focus {
    outline: none;
}