body, html {
    margin-right: 0 !important;
    min-height: 100vh;
    background: rgba(230, 230, 226, 0.4);
    background: linear-gradient(to bottom, rgba(230, 230, 226, 0.4), rgba(255, 255, 255, 0.4));
}
body main, html main {
    min-height: calc(100vh);
}

.control-sidebar{
    width: 150px !important;
}

.logout-btn{
    background: #fff !important;
    padding: 8px 40px !important;
}

.logout-btn:hover{
    background: rgba(255, 255, 255, 0.8) !important;
}

button.icon {
    padding: 3px 5px;
}

#teachers{
    flex-wrap: wrap;
}

.tag {
    padding: 5px 10px !important;
    border: 1px solid #ccc;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 1 auto !important;
    border-radius: 3px;
    background: #f2f2f2;
}

.tag::after{
    display: none !important;
}

.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

.social-link:hover, .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
}

.teacher-modal-bg, .student-modal-bg {
    background: #e8cbc0;
    background: -webkit-linear-gradient(to right, #e8cbc0, #636fa4);
    background: linear-gradient(to right, #e8cbc0, #636fa4);
}

.actions-wrapper{
    background: rgba(0,0,0, 0.4);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.actions-wrapper button{
    width: 50%;
    height: 100%;
    color: #fff !important;
}

.actions-wrapper button:hover{
    transition: transform .5s ease-in;
    background: rgba(0,0,0, 0.6);
}

.brand-link{
    width: 100%;
    height: 90px;
}

.brand-link img {
    float: none !important;
    height: auto !important;
    max-height: 60px !important;
    margin: 0 auto !important;
    display: block !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    opacity: 1 !important;
}