<%- include('../layouts/head.ejs') %>

<link rel="stylesheet" href="/css/taskCard.css">
<link rel="stylesheet" href="/css/play-button.css">
<link rel="stylesheet" href="/css/countdown.css">
<link rel="stylesheet" href="/css/ribbon.css">
</head>
<body>
<div class="desktop-nav">
    <%- include('../layouts/nav.ejs') %>
</div>
<div class="mobile-nav">
    <%- include('../layouts/navMobile.ejs') %>
</div>

<div class="container" style="margin-top: 80px">
    <div class="row align-items-center justify-content-center p-5">
        <div class="col-12 text-center">
            <div class="group-swiper">
                <p class="m-0" id="groupName"></p>
                <div class="swiper-button-next detailNext" id="nextGroup">
                    <svg xmlns="http://www.w3.org/2000/svg" height="40" viewBox="0 0 50 50" width="37">
                        <path d="M14.83 16.42l9.17 9.17 9.17-9.17 2.83 2.83-12 12-12-12z"/>
                        <path d="M0-.75h48v48h-48z" fill="none"/>
                    </svg>
                </div>
                <div class="swiper-button-prev detailPrev" id="prevGroup">
                    <svg xmlns="http://www.w3.org/2000/svg" height="40" viewBox="0 0 50 50" width="37">
                        <path d="M14.83 16.42l9.17 9.17 9.17-9.17 2.83 2.83-12 12-12-12z"/>
                        <path d="M0-.75h48v48h-48z" fill="none"/>
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <div id="tasks">

    </div>

    <form id="gameCreationForm">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" id="csrf">
    </form>

    <%- include('../layouts/footer.ejs') %>
</div>

<%- include('../layouts/end.ejs') %>
<script src="/js/helpers/countDownTimer.js"></script>
<script src="/js/admin/helpers/cardHelper.js"></script>
<script src="/js/dashboard.js"></script>