<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <!--===============================================================================================-->
</head>
<body>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form" id="studentLoginForm" autocomplete="off" novalidate onsubmit="login(this)">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" id="csrf">
					<span class="login100-form-title" style="margin-bottom: 20px">
						Ahoj školák!
					</span>
                <span class="login100-form-title" style="margin-bottom: 30px">
						<img class="logo" src="/img/logo.png">
                </span>

                <div class="alert alert-danger" role="alert" id="login_error" style="display: none">
                </div>

                <div class="wrap-input100 validate-input" data-validate="Valid email is: a@b.c" id="emailWrapper">
                    <input class="input100" type="text" name="email" id="email" value="" autocomplete="off">
                    <span class="focus-input100" data-placeholder="Emailova adresa"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Enter password" id="pwdWrapper">
						<span class="btn-show-pass" id="showPass">
							<i class="zmdi zmdi-eye"></i>
						</span>
                    <input class="input100" type="password" name="pass" id="password" value="" autocomplete="new-password">
                    <span class="focus-input100" data-placeholder="Heslo"></span>
                </div>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn" type="submit">
                            Prihlásiť sa
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- jQuery -->
<script src="/plugins/jquery/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>

<script src="js/index.js"></script>

</body>
</html>