<%- include('../layouts/head.ejs') %>
    <link rel="stylesheet" href="/dist/css/sweetalert2.css">
    <link rel="stylesheet" href="/css/taskCard.css">
    <link rel="stylesheet" href="/css/game.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css" integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni" crossorigin="anonymous">
</head>
<body>
<div class="desktop-nav">
    <%- include('../layouts/nav.ejs') %>
</div>
<div class="mobile-nav">
    <%- include('../layouts/navMobile.ejs') %>
</div>

<div class="container" style="margin-top: 100px">
    <div class="row">
        <h1 id="taskName"></h1>

        <div class="d-flex">
            <p id="actualGame"></p> / <p id="maxGameCount"></p>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6 text-center">
            <p>Hľadané slovo: <b><span id="searchedWord"></span></b></p><br>
            <p>Aktuálny stav slova: <b><span id="actualWord"></span></b></p>
        </div>
        <div class="col-md-6">

        </div>
    </div>
    <div class="row">
        <div id="game" class="col-md-6">
        </div>
        <div id="commands" class="col-md-6">

        </div>
    </div>

    <form id="taskForm">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" id="csrf">
        <input type="hidden" name="taskId" value="<%= taskId %>" id="taskId">
        <input type="hidden" name="groupId" value="<%= groupId %>" id="groupId">
    </form>

    <%- include('../layouts/footer.ejs') %>
</div>

<%- include('../layouts/end.ejs') %>
<script src="/js/algorithm/helpers/binaryHeap.js"></script>
<script src="/js/algorithm/helpers/gridNode.js"></script>
<script src="/js/algorithm/helpers/graph.js"></script>
<script src="/js/algorithm/backtracking.js"></script>
<script src="/js/algorithm/dijkstrov.js"></script>
<script src="/js/algorithm/bfs.js"></script>
<script src="/dist/js/resurrect.js"></script>
<script src="/dist/js/DragDropTouch.js"></script>
<script src="/dist/js/sweetalert2.js"></script>
<script src="/js/helpers/extendClass.js"></script>
<script src="/js/helpers/dragAndDrop.js"></script>
<script src="/js/helpers/image.js"></script>
<script src="/js/helpers/car.js"></script>
<script src="/js/helpers/game.js"></script>
<script src="/js/task.js"></script>