<div class="modal fade" id="gameCreationModal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalTitle">Vytvoriť slovo</h4>
                <button type="button" class="close modalIconClose" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Team item -->
                <div class="container">
                    <form id="gameCreationForm">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>" id="csrf2">
                        <div class="card-body row">
                            <div class="form-group col-md-12">
                                <label for="wordInput">Slovo*</label>
                                <input type="text" class="form-control" id="wordInput"
                                       placeholder="Slovo"
                                       name="word">

                                <ul class="input-requirements">
                                    <li>Dĺžka slova je minimálne 3 znaky</li>
                                </ul>
                            </div>

                            <div class="form-group col-md-12">
                                <label for="extraLettersInput">Pismená naviac</label>
                                <input type="text" class="form-control" id="extraLettersInput"
                                       placeholder="Pismena naviac"
                                       name="extraLetters">
                            </div>

                            <div class="form-group col-md-6">
                                <label for="rowInput">Šírka plochy*</label>
                                <input type="number" min="0" class="form-control" id="rowInput"
                                       placeholder="Sirka plochy"
                                       name="row">

                                <ul class="input-requirements">
                                    <li>Šírka je pozitívne celé číslo</li>
                                    <li>Minimálna šírka plochy je 3</li>
                                    <li>Hracia plocha je validná</li>
                                </ul>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="colInput">Výška plochy*</label>
                                <input type="number" min="0" class="form-control" id="colInput"
                                       placeholder="Vyska plochy"
                                       name="col">

                                <ul class="input-requirements">
                                    <li>Výška je pozitívne celé číslo</li>
                                    <li>Minimálna výška plochy je 3</li>
                                    <li>Hracia plocha je validná</li>
                                </ul>
                            </div>

                            <div class="form-group col-md-12">
                                <div class="d-flex">
                                    <div class="custom-control custom-radio mr-3">
                                        <input class="custom-control-input" type="radio" id="easyRadio" name="level"
                                               value="easy" checked>
                                        <label for="easyRadio" class="custom-control-label">Easy</label>
                                    </div>
                                    <div class="custom-control custom-radio mr-3">
                                        <input class="custom-control-input" type="radio" id="mediumRadio"
                                               name="level" value="medium">
                                        <label for="mediumRadio" class="custom-control-label">Medium</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input class="custom-control-input" type="radio" id="hardRadio" name="level"
                                               value="hard">
                                        <label for="hardRadio" class="custom-control-label">Hard</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <div class="d-flex form-check">
                                    <input type="checkbox" class="form-check-input" id="isBarrier" name="barrier">
                                    <label class="form-check-label" for="isBarrier">Prekážky</label>
                                </div>
                            </div>

                            <div class="col-md-12 text-right">
                                <button type="button" id="submit2" class="btn btn-primary"
                                        data-action="create"
                                        onclick="createOrUpdateGame(this)">Vytvoriť
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal-backdrop fade" id="backdrop"></div>