<div class="modal fade" id="taskCreationModal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalTitle">Úprava úlohy</h4>
                <button type="button" class="close modalIconClose" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Team item -->
                <div class="container">
                    <form id="taskCreationForm">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>" id="csrf">
                        <div class="card-body row">
                            <div class="form-group col-md-6">
                                <label for="titleInput">Nazov</label>
                                <input type="text" class="form-control" id="titleInput"
                                       placeholder="Nazov"
                                       name="title">

                                <ul class="input-requirements">
                                    <li>Dĺžka názvu je minimálne 3 znaky</li>
                                </ul>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="exampleInputFile">Titulný obrázok</label>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="exampleInputFile">
                                        <label class="custom-file-label" for="exampleInputFile">Vybrať
                                            obrázok</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="startedAtInput">Začiatok</label>
                                <input type="text" class="form-control" id="startedAtInput"
                                       placeholder="Zaciatok"
                                       name="from">

                                <ul class="input-requirements">
                                    <li>Začiatok je povinný údaj</li>
                                    <li>Začiatok nemôze byť neskoršie ako Koniec</li>
                                </ul>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="finishedAtInput">Koniec</label>
                                <input type="text" class="form-control" id="finishedAtInput"
                                       placeholder="Koniec"
                                       name="to">

                                <ul class="input-requirements">
                                    <li>Koniec je povinný údaj</li>
                                    <li>Koniec nemôže byť skôr ako Začiatok</li>
                                </ul>
                            </div>

                            <div class="form-group col-md-12">
                                <label for="descriptionInput">Popis</label>
                                <textarea id="descriptionInput" class="form-control" rows="4"></textarea>
                            </div>

                            <div class="form-group col-md-12">
                                <label for="groupsInput">Skupiny</label>
                                <span class="group-multiselect" id="groupsInput"></span>
                            </div>

                            <div class="form-group col-md-12">
                                <label for="gamesInput">Slová</label>
                                <span class="games-multiselect flex-grow-1" id="gamesInput"></span>
                            </div>

                            <div class="col-md-12 text-right">
                                <button type="button" id="submit" class="btn btn-primary"
                                        data-action="edit"
                                        onclick="createOrUpdateTask(this)">Upraviť
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal-backdrop fade" id="backdrop"></div>